# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../lambad\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../:\eclipseWork\lambad\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
